@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Wix+Madefor+Display&display=swap');

.adventureDetailCard {
    background-color: rgba(255, 245, 238, 0.5);
    border: 1px gray solid;
    margin: 0 5% 0 5%;
    border-radius: 5px;
    padding: 0 3% 0 3%;
    color: black;
}

button {
    background-image: url("./buttonBackgrundYellow.jpeg");
    background-size: 100% 100%;
    border: solid 1px black;
    border-radius: 3px;
    max-height: 100%;
    margin: 10px 10px 10px 10px;

}
img {
    border: solid dimgray 1px;
    max-width: 100%;
    margin-top: 5%;
}

.name {
    font-weight: bold;
    width: 95%;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-top: 5%;
}
.image_quote {
    word-wrap: break-word;
    font-style: italic;
    font-family: 'Architects Daughter', cursive;
}
.description{
    padding: 0 3% 0 3%;
    text-align: justify;
    text-justify: inter-word;
    background-color: rgba(255, 245, 238, 0.3);
    border: 1px gray solid;
    border-radius: 5px;
    color: black;
    width: 93%;

    font-size: small;
    font-family: 'Architects Daughter', cursive;
    overflow: auto;
}


