body{
  background-image: url("./campfireDark.jpg");

}
.App {
  text-align: center;
}

.container{
  padding-top: 150px;
  overflow: auto; /* Hinzufügen eines Scrollbalkens bei Bedarf */
  height: 600px; /* Begrenzen Sie die Höhe des Containers auf 200px */
}
