body{
  text-align: center;
  background-image: url("fire2.jpeg");
  background-size: cover;
  height: 100%;

}
.App {

}

.container{
  padding-top: 45%;
  overflow: auto; /* Hinzufügen eines Scrollbalkens bei Bedarf */
   /* Begrenzen Sie die Höhe des Containers auf 200px */
}


