body{
  background-image: url("./campfireDark.jpg");
}
.App {
  text-align: center;
  background-image: url("./campfireDark.jpg");
}

.container{
  padding-top: 50%;
  overflow: auto; /* Hinzufügen eines Scrollbalkens bei Bedarf */
  height: 100%; /* Begrenzen Sie die Höhe des Containers auf 200px */
}
