@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

body{
    font-family: 'Wix Madefor Display', sans-serif;
}
.header {
    color: black;
    background-image: url("./beach.jpg");
    width: 100%;
    position: fixed;
    font-family: 'Wix Madefor Display', sans-serif;
}
.travelBug{
    font-size: x-small;
}
a{
    color: seashell;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.navBar {
    display: flex;
}

.navElement {
    border-left: black solid 1px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    padding: 10px;
}