@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Wix+Madefor+Display&display=swap');


.login{
    margin-top: -5%;
    margin-bottom: 0;
    background-image: url("./ship_dark.jpg");
    background-size: cover;
    font-size: larger;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;

    border: solid seashell 1px;

}

input{
    height: 8%
}