@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Wix+Madefor+Display&display=swap');


.login{
    background-image: url("./ship_dark.jpg");
    background-size: cover;
    font-size: large;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;

}

img{
    height:100%;
}
input{
    height: 8%
}